<div class="col-lg-8 mx-auto">
<div class="card shadow">
<div class="card-header">
<h1 class="card-title">New movie</h1>
</div> 
<div class="card-body">
<%= render "form", movie: @movie %>
</div>
</div>


<br>

<div>
  <%= link_to "Back to movies", movies_path %>
</div>
</div>
